<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EPS</title>
    <link rel="icon" href="img/hospital.png" type="image/png">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Roboto:wght@100&display=swap" rel="stylesheet">
</head>
<body style="background:linear-gradient(to bottom, hsl(252, 39%, 64%),  hsl(242, 50%, 44%));height: 900.833px;">
    <header>
        <h1>EPS</h1>
        <ul class="menu">
            <li><a href="#">Inicio</a></li>
            <li><a href="/doctores">Formulario Doctores</a></li>
            <li><a href="/registro_doctores">Registro Doctores</a></li>
            <li><a href="/pacientes">Formulario Pacientes</a></li>
            <li><a href="/registro_pacientes">Registro Pacientes</a></li>
            <li><a href="/asignarcitas">Asignación de citas</a></li>
            <li><a href="/registro_citas">Registro Citas</a></li>
        </ul>  
    </header>
    <div class="image-container">
        <img src="ProjectUnidad14/img/controla.jpg" alt="Controla tu salud" height="200">
        <img src="ProjectUnidad14/img/images.jpg" alt="Imagen 2" height="200">
        <img src="ProjectUnidad14/img/salud.jpg" alt="Imagen 2"height="200">
        <!-- Agrega más imágenes si es necesario -->
    </div>
</body>
</html>