<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <title>Registro de Citas Medicas</title>
</head>
<body style="background:linear-gradient(to bottom, hsl(252, 39%, 64%),  hsl(242, 50%, 44%));height: 900.833px;">
    <h1 class="medicas">Registro de Citas Medicas</h1>
    <table>
        <tr>
            <th>Cedula</th>
            <th>Especialidad</th>
            <th>Doctor</th>
            <th>Paciente</th>
    
        </tr>
        <% citas.forEach(function(cita) { %>
            <tr>
                <td><%= cita.cedula %></td>
                <td><%= cita.especialidad %></td>
                <td><%= cita.doctor %></td>
                <td><%= cita.paciente %></td> 
            </tr>
        <% }) %>
    </table>
</body>
</html>